[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genio"]
	path = genio
	url = https://github.com/ochoalab/genio
[submodule "metalcor"]
	path = metalcor
	url = https://github.com/ochoalab/metalcor
[submodule "simfam"]
	path = simfam
	url = https://github.com/ochoalab/simfam
[submodule "simtrait"]
	path = simtrait
	url = https://github.com/ochoalab/simtrait
